.card {
  background: var(--White);
  width: 90vmin;
  max-width: 550px;
  max-height: 460px;
  padding: 2rem 1.5rem;
  border-radius: 1rem;
  border-bottom-right-radius: 27%;
}

@media (min-width: 1240px) {
  .card {
    width: 85vmin;
  }
}
