.form {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  font-family: "Poppins";
  margin-bottom: 1.5rem;
}
label {
  color: var(--Smokey-grey);
  text-transform: uppercase;
  font-size: 0.6rem;
  font-weight: 700;
  letter-spacing: 0.125rem;
}
.inputs {
  display: grid;
}
.inputs input {
  border: 1px solid var(--Light-grey);
  border-radius: 0.3rem;
  font-size: 1rem;
  font-weight: 800;
  width: 80px;
  padding: 0.4rem 0;
  padding-left: 0.7rem;
}
.inputs input::placeholder {
  opacity: 0.4;
}
.divider-container {
  --Purple: hsl(259, 100%, 65%);
  --Light-grey: hsl(0, 0%, 86%);
  position: relative;
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.divider__border {
  position: absolute;
  z-index: 5;
  bottom: 50%;
  top: 50%;
  height: 1px;
  width: 100%;
  background: var(--Light-grey);
}

.divider-container div:has(img) {
  position: relative;
  z-index: 10;
  background: var(--Purple);
  border-radius: 50%;
  padding: 0.8rem;
  display: grid;
  place-content: center;
}

img {
  width: 30px;
  aspect-ratio: 1;
}

input[type="submit"] {
  display: none;
}

@media (min-width: 490px) {
  .form {
    margin-bottom: 0;
  }
  .inputs input {
    width: 100px;
  }
}
