/* @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap"); */

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}
@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Itallic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0;
  padding: 0;
  transition: all 0.3s;
}

:root {
  --Purple: hsl(259, 100%, 65%);
  --Light-red: hsl(0, 100%, 67%);
  --White: hsl(0, 0%, 100%);
  --Off-white: hsl(0, 0%, 94%);
  --Light-grey: hsl(0, 0%, 86%);
  --Smokey-grey: hsl(0, 1%, 44%);
  --Off-black: hsl(0, 0%, 8%);
  font-size: 20px;

  background: var(--Off-white);
}

body {
  display: grid;
  place-content: center;
  height: 100svh;
  overflow: hidden;
}

img,
svg {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: inherit;
}

input {
  border: none;
  background: transparent;
}

input:focus {
  outline: 0;
}

@media (min-width: 1440px) {
  :root {
    font-size: 30px;
  }
}
